#root {
  margin: 0 auto;
}

#root button {
  margin: 4px;
  padding: 0.4em 0.8em;
  background-color: #f0f0f0;
}

input[type="text"] {
  display: block;
  margin: 8px 0;
  padding: 4px;
  font-size: 0.92em;
}
