.Subscribe {
  display: flex;
  gap: 16px;
  height: 50px;
  align-items: center;
}

.content {
  flex: 1;
  text-align: left;
}

.Subscribe .subscribe-btn {
  height: 40px;
  background-color: rgb(255, 30, 30);
}
