#root {
  margin: 0 auto;
}

#root button {
  margin: 4px;
  padding: 0.4em 0.8em;
  background-color: #f0f0f0;
}

.user-profile,
.temp-input,
.unit-selector {
  margin: 8px 0;
  padding: 12px 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.user-profile h3 {
  margin: 0;
}

input[type="text"],
select {
  display: block;
  margin: 8px 0;
  padding: 4px;
  font-size: 0.92em;
}
