.List {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.List > input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
  padding: 15px 0px;
}

.List > input:focus {
  outline: none;
  border-bottom: 1px solid rgb(250, 190, 20);
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.reset {
  cursor: pointer;
  color: gray;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
